@charset 'UTF-8';
@import "variables";
@import "mixins";

$base: #e4f9f5;
$green: #30e3ca;
$dgreen: #11999e;
$dark: #40514e;

html,
body {
	background-color: $base;
	box-sizing: border-box;
	color: $dark;
	font-size: 15px;
	line-height: 1.6;
	margin: 0 0 20px;
	padding: 0;
}

.inner {
	box-sizing: border-box;
	margin: auto;
	max-width: 800px;
	padding-right: 10px;
	padding-left: 10px;
}

h1 {
	text-align: center;

	@include media(sp) {
		font-size: 20px;
	}

	span {
		margin-left: 10px;
	}
}

.top_lead {
	text-align: center;
}

// 背景エリア
.bg {
	background: url(../images/dog01.jpg) center center no-repeat;
	background-size: cover;
	height: 60vh;
	min-height: 300px;
	width: 100%;
}

section {
	box-sizing: border-box;
	margin-top: 15px;

	+ section {
		margin-top: 45px;
	}
}

h2.title {
	box-sizing: border-box;
	border-left: 5px solid $green;
	margin: 20px auto;
	padding-left: 10px;
}

.fig {

	img {
		max-width: 100%;
		vertical-align: bottom;

		@include media(sp) {
			max-width: 100%;
		}
	}

	&.center {
		text-align: center;
	}

	.text {
		font-size: 12px;
		margin: auto;
	}
}

// 会話ブロック
.block {
	display: flex;

	@include media(sp) {
		display: block;
	}

	div + div {
		padding-left: 30px;

		@include media(sp) {
			margin-top: 15px;
			padding-left: 0;
		}
	}

	.fig {
		@include media(tab) {
			width: 300px;
		}

		&.center {
			margin: auto;
		}

		@include media(sp) {
			text-align: center;
			width: 100%;
		}

		img {
			@include media(tab) {
				max-width: 100%;
			}
		}

		p {
			font-size: 12px;
			margin: auto;
		}
	}

	.text {
		box-sizing: border-box;
		width: 100%;

		@include media(sp) {
			width: 100%;
		}

		p {
			margin: auto;

			+ p {
				margin-top: 1em;
			}
		}
	}
}


// 詳細ブロック
.detail {
	width: 50%;

	@include media(sp) {
		width: 100%;
	}

	.button {
		margin: auto;
		padding-left: 0;
		text-align: center;

		+ .button {
			margin-top: 20px;
		}

		a {
			background: $dark;
			border: 1px solid $dark;
			border-radius: 5px;
			box-sizing: border-box;
			color: #fff;
			display: block;
			margin: auto;
			padding: 10px 0;
			text-align: center;
			text-decoration: none;
			width: 300px;

			&:hover {
				background: $base;
				color: $dark;
			}
		}
	}

	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		width: 100%;

		tr {
			&:nth-child(odd) {
				background-color: #fff;
			}

			&:nth-child(even) {
				background-color: $base;
			}
		}

		th,
		td {
			border: 1px solid #ccc;
			box-sizing: border-box;
			font-weight: normal;
			padding: 5px;
		}
	}
}
