@charset 'UTF-8';
@import "variables";
@import "mixins";

$base: #e4f9f5;
$green: #30e3ca;
$dgreen: #11999e;
$dark: #40514e;

html,
body {
	background-color: $base;
	box-sizing: border-box;
	color: $dark;
	font-size: 15px;
	line-height: 1.6;
	margin: 0 0 20px;
	padding: 0;
}

.inner {
	box-sizing: border-box;
	margin: auto;
	max-width: 800px;
	padding-right: 10px;
	padding-left: 10px;
}

h1 {
	text-align: center;

	@include media(sp) {
		font-size: 20px;
	}

	span {
		margin-left: 10px;
	}
}

.top_lead {
	text-align: center;
}

// 背景エリア
.bg {
	background: url(../images/dog01.jpg) center center no-repeat;
	background-size: cover;
	height: 60vh;
	min-height: 300px;
	width: 100%;
}

section {
	box-sizing: border-box;
	margin-top: 15px;

	+ section {
		margin-top: 45px;
	}
}

h2.title {
	box-sizing: border-box;
	border-left: 5px solid $green;
	margin: 20px auto;
	padding-left: 10px;
}

.fig {
	img {
		vertical-align: bottom;

		@include media(sp) {
			max-width: 100%;
		}
	}

	&.center {
		text-align: center;
	}

	.text {
		font-size: 12px;
		margin: auto;
	}
}

// 会話ブロック
.block {
	display: flex;

	@include media(sp) {
		display: block;
	}

	div + div {
		padding-left: 30px;

		@include media(sp) {
			margin-top: 15px;
			padding-left: 0;
		}
	}

	.fig {
		@include media(tab) {
			width: 300px;
		}

		@include media(sp) {
			text-align: center;
			width: 100%;
		}

		img {
			@include media(tab) {
				max-width: 100%;
			}
		}

		p {
			font-size: 12px;
			margin: auto;
		}
	}

	.text {
		box-sizing: border-box;

		@include media(tab) {
			width: calc(100% - 300px);
		}

		@include media(sp) {
			width: 100%;
		}

		p {
			margin: auto;
		}
	}
}
